In [142]:
import pandas as pd
import numpy as np

In [143]:
art_2016 = pd.read_csv("../../data/articles_maria/fem2016.csv")

print(art_2016.head(3))
print(art_2016["hechos"][0][0:500])

print(art_2016.shape)

           fecha                                             hechos  \
0  3/19/16 20:32  México.- El cadáver de una mujer fue encontrad...
1   7/27/16 4:28  01/09/2016 - 09:26\nTranscurrieron ocho días p...
2  5/31/16 21:36  15/06/2016 14:06 Eduardo Hernández\nLa Policía...

                                               lugar        lat        lon
0  Museo Nacional Numinástico, 13, Apartado, Cent...  19.440472 -99.129885
1  Hotel Mexicali, 285, Calzada San Antonio Abad,...  19.407515 -99.136154
2  Laboratorio médico del Chopo, 518, Avenida Rev...  19.390352 -99.185935
México.- El cadáver de una mujer fue encontrado entre puestos ambulantes sobre la calle Apartado en el número 14, casi esquina con Del Carmen, en el Centro Histórico de la Ciudad de México.

A las 6:30 horas, policías reportaron el hallazgo del cuerpo de una mujer no identificada, de entre 40 y 45 años, que presentaba golpes y estaba semidesnudo.

La víctima vestía falda y su ropa interior había sido bajada hasta los tobillos por lo que se presumen que fue víctima de abuso sexual.

*************
(2000, 5)

In [144]:
#creating a single set of articles
art_2017 = pd.read_csv("../../data/articles_maria/fem2017.csv")
art_2018 = pd.read_csv("../../data/articles_maria/fem2018.csv")
art_2019 = pd.read_csv("../../data/articles_maria/fem2019.csv")
art_2020 = pd.read_csv("../../data/articles_maria/fem2020.csv")

#cleaning column keys which are not the same
art_year = [art_2016, art_2017, art_2018, art_2019, art_2020]

for i in range(len(art_year)):
    art_year[i] = art_year[i].rename(columns={"Fecha": "fecha", "Lugar": "lugar",
                     "Hechos": "hechos", "Latitud": "lat", "Longitud": "lon"})

print(len(art_year))

articles = pd.concat(art_year)
print(articles.head(3))

articles = articles[pd.notnull(articles['hechos'])]
print(articles.isna().any())
print(articles.isnull().any())

print(articles.shape)

5
           fecha                                             hechos  \
0  3/19/16 20:32  México.- El cadáver de una mujer fue encontrad...
1   7/27/16 4:28  01/09/2016 - 09:26\nTranscurrieron ocho días p...
2  5/31/16 21:36  15/06/2016 14:06 Eduardo Hernández\nLa Policía...

                                               lugar        lat        lon
0  Museo Nacional Numinástico, 13, Apartado, Cent...  19.440472 -99.129885
1  Hotel Mexicali, 285, Calzada San Antonio Abad,...  19.407515 -99.136154
2  Laboratorio médico del Chopo, 518, Avenida Rev...  19.390352 -99.185935
fecha     False
hechos    False
lugar     False
lat       False
lon       False
dtype: bool
fecha     False
hechos    False
lugar     False
lat       False
lon       False
dtype: bool
(7932, 5)

In [145]:
#adding label column, assign 3 value as not labeled yet
articles["label"] = [3 for a in range(articles.shape[0])]

#print(articles.head(5))
print(articles["label"].unique())

[3]

In [146]:
#randomly exploring the sentiment of some articles
import random

art_nums = [random.randint(0, 1999) for a in range(20)]
art_nums.append(0)
art_nums.append(2)

print(art_nums)

print(articles["label"].unique())


for x in art_nums:
    print(articles["hechos"][x])
    #label = input("1 for misogynistic, 0 non-misogynistic")
    #articles.loc[x,'label'] = label

print(articles["label"].unique())

articles.to_csv("articles_autolabeled.csv",encoding='utf-8')

[1237, 1869, 1378, 787, 1631, 1718, 185, 1329, 262, 277, 1637, 978, 464, 91, 885, 689, 1447, 388, 1319, 1774, 0, 2]
[3]
1237    Ó†Ö 3 Enero, 2016\nA través de redes sociales ...
1237    Nicolás Romero\n15/07/2017 02:13 PM\nLa madrug...
1237    Por: Redacción/GH | 25/04/2018 18:10\nB√ÅCUM, ...
1237    Registran seis muertes violentas más en Tijuan...
Name: hechos, dtype: object
1869    agosto 17, 2016\nembolsada‚Ä¢ A orillas del rí...
1869    28/02/2017 15:35 Eduardo Hernández Ciudad de M...
1869    CHILPANCINGO, Gro., 10 de febrero de 2018.- A ...
Name: hechos, dtype: object
1378    Tomás Martínez\nMar, 12/20/2016 - 06:35\nPerma...
1378    Martes, 27 de junio de 2017 - 11:33 am \n\n\nU...
1378    14ABR2018\nEditor\nauthor\n   \nUn hombre y un...
1378    anizaban tandas\nLos cuerpos de las mujeres de...
Name: hechos, dtype: object
787    A+ CHILPANCINGO, Gro., 23 de diciembre de 2016...
787    26/08/2017 02:35 Gladys Rodríguez Navarro/ cor...
787    23/06/201809:06 a.m.Autor: RedacciónFuente: El...
787    Ejecutan a mujer en Parral\nEl cadáver sólo vi...
Name: hechos, dtype: object
1631    09, Diciembre 2016 por Erick Valenzuela\nCulia...
1631    May 25, 2017 59 Views\nShare on FacebookTweet ...
1631    Juan Carlos Flores, corresponsal |  lunes, 12 ...
1631    Encuentran el cuerpo de una mujer degollada a ...
Name: hechos, dtype: object
1718    16/06/2016 16:21\nCABORCA, Sonora(GH)\nUna muj...
1718    05/11/2017 - 14:10 A+ A-\nElementos policiacos...
1718    marzo 01, 2018\n\n6:13pm\n\n0 Comentarios\n\n\...
1718    Muere mujer que resultó herida ataque armado e...
Name: hechos, dtype: object
185    1 de octubre de 2016\n\nJUAN ANTONIO GONZ√ÅLEZ...
185    24 abril, 2017\nFacebook Twitter  \n\nPublicid...
185    Balean a mujer en Calz. Zaragoza; se resistió ...
185    Feminicidios / Zona OrienteATAQUE: Hombres arm...
Name: hechos, dtype: object
1329    02/09/2016 06:05 PM\nA balazos fue asesinada u...
1329    El Sol de Cuernavaca Miércoles 5 de julio de 2...
1329    Javier Rodríguez\n19/04/2018 - 13:33\n\n\nTras...
1329    Grupo armado le quita la vida a pareja de come...
Name: hechos, dtype: object
262    10 octubre, 2016 | 11:39 pm\nCarlos O. Barranc...
262    Acapulco, Gro. 19 de Diciembre del 2017. ‚Äì D...
262    19 septiembre, 2018\nSeguridad\nFacebook Twitt...
262    Localizan 3 cuerpos de mujeres con signos de v...
Name: hechos, dtype: object
277    Jueves 15 Septiembre 2016 | 00:01:00 hrs\n\nSt...
277    A+ CHILPANCINGO, Gro., 4 de septiembre de 2017...
277    17 octubre, 2018\nSeguridad\nFacebook Twitter ...
277    Matan a balazos a madre e hijo en un domicilio...
Name: hechos, dtype: object
1637    MAZATL√ÅN, SINALOA.- Durante las últimas 24 ho...
1637    Redacción Miércoles 24 de mayo de 2017 en Poli...
1637    Por MiMorelia.com -  lunes, marzo 12, 2018 2:4...
1637    Matan a abogada en Guadalupe\nRedacción ABC\n2...
Name: hechos, dtype: object
978    AGENCIA REFORMA | GUADALAJARA, JAL. Publicada ...
978    Mié, 08/09/2017 - 20:27\nLa violan y asesinan\...
978    Una mujer de 60 años fue asesinada cerca del M...
978    REPÚBLICA\n  / MARTES 9 DE JULIO DE 2019\n\nHa...
Name: hechos, dtype: object
464    Publicado el 9 diciembre, 2016\t\nTEJUPILCO, M...
464    Por Antonio Vázquez -Dic 16, 2017\nCompartir e...
464    Tarimoro, Gto., a 18 de agosto del 2018.- El c...
464    Hallan dos cadáveres en Tezontepec\nPor Redacc...
Name: hechos, dtype: object
91    Por: Luis Gerardo Andrade | 27/08/2016 6:43\nT...
91    Arrestan a padrastro por muerte de niña; descu...
91    HALLAN A OTRAS DOS MUJERES ASESINADAS EN CIUDA...
91    SEGURIDADEncuentran a tres ejecutados en los l...
91    La Fiscalía General del Estado (FGE) de Baja C...
Name: hechos, dtype: object
885    Benito Juárez, Guerrero.- Una mujer que vendía...
885    2017-09-22 07:57:57 | REDACCI√ìN El hallazgo s...
885    POLICIACA\n  / S√ÅBADO 9 DE JUNIO DE 2018\n\nM...
885    LAPIDAN Y CALCINAN A PAREJA RAR√ÅMURI EN CAMAR...
Name: hechos, dtype: object
689    José Alberto García Rojas, un ex reo al que le...
689    Armando Velazco Domingo 30 de abril de 2017 en...
689    10 de Julio, 2018\n\n     \nLa menor desaparec...
689    Karla vivía en Tequis, la mataron a golpes y l...
Name: hechos, dtype: object
1447    15/10/2016 - 20:00\nEl personal de un hotel ub...
1447    20 Junio, 2017 0 COMPARTIR Facebook Twitter El...
1447    Jueves, 5 de Abril de 2018 07:45|Javier Rodrig...
1447    Asesinan a mujer en su propia casa\nEl cuerpo ...
Name: hechos, dtype: object
388    Administrador Colimapm | seguridad | 2016¬≠09¬...
388    (0)\nEnviar\nImprimir\njueves, 27 de abril de ...
388    Matan a joven en zona centro\nEl cuerpo de una...
388    Home / Michoacán / Con más de 11 balazos, es a...
Name: hechos, dtype: object
1319    07/11/2016 - 07:30 AM\n\nMonterrey, NL.- Una h...
1319    Por: Redacción EL IMPARCIAL | 06/07/2017 6:00\...
1319    Seguridad\nEjecutan a mujer en Cortazar\nPoste...
1319    lunes, 22 de abril de 2019 a las 9:18pmLE√ìN G...
Name: hechos, dtype: object
1774    presunto criminal esta prófugo\n\nÔÄó 10:59 AM...
1774    09, Marzo 2017 por Ernesto Martínez Navolato, ...
1774    febrero 21, 2018\n28\nCompartir\nCompartir\nTw...
Name: hechos, dtype: object
0    México.- El cadáver de una mujer fue encontrad...
0    HOME2020FEBRERO5SU MADRE LA BUSC√ì 2 A√ëOS, Y ...
0    FEMINICIDIO #230: Encuentran los cuerpos de un...
0    El menor que arrolló a 4 adolescentes en Cuerá...
0    Feminicidio 30: Adriana Ignacia fue hallada mu...
Name: hechos, dtype: object
2    15/06/2016 14:06 Eduardo Hernández\nLa Policía...
2    Condenan a hombre por apuñalar a mujer\n\nTras...
2    FEMINICIDIO #188: Víctor Hugo discutió con su ...
2    El menor que arrolló a 4 adolescentes en Cuerá...
2    Matan a otra adolescente en Guerrero, ahora en...
Name: hechos, dtype: object
[3]

In [147]:
articles_l = pd.read_csv("articles_labeled.csv",encoding='utf-8')

articles_l = articles_l.drop(['Unnamed: 0', 'Unnamed: 0.1'], axis=1)

print(articles_l.isna().any())
print(articles_l.isnull().any())
print("introduced labels",articles_l["label"].unique())

fecha     False
hechos    False
lugar     False
lat       False
lon       False
label     False
dtype: bool
fecha     False
hechos    False
lugar     False
lat       False
lon       False
label     False
dtype: bool
introduced labels [0 3 1]

In [148]:
def check_balance(df):
    print(df.label.value_counts())
    
check_balance(articles_l)

3    7910
0      20
1       2
Name: label, dtype: int64

In [149]:
articles_l["origin"] = ["maria" for a in range(articles.shape[0])]
articles_l.to_csv("articles_labeled.csv",encoding='utf-8')